/*Codigo para marco general */

.body{
    background-color: #FDDD04;
}
.cabecera {
    width: 100%;
    margin: auto;
    background-color:black;
    position:fixed;
    left:0;
    top:0;
    z-index:99;
    color: white;
    text-align: center;
}
.logo{
    width:10%;
    float: left;
    margin:1.5%;
}
.titulos {
    font-family:"helvetica";
    font-size: 1.5em;
    line-height: 0;
    font-weight:bolder;
}
.cuerpo {
    width: 100%;
    margin-top: 13%;
}

/*FIN Codigo para marco general */

/*PARA EL MAPA*/

.pantallahome {
	width: 100%;
	text-align: center;

}

.pantallahome img{
	width: 100%;
	height: 100%;
	margin-top: -18%;
}
/* FIN PARA EL MAPA*/


/* menu lateral */

 .menuatras, .titulomenu, .menuli, nav, .invisible, ul,nav ul li a{
    font-family:helvetica;
    margin:0;
    padding:0;
}
.menuatras{
    width:30px;
    float:right;
    z-index:90;
}
.titulomenu{
    font-weight: bold;
    font-size:1.5em;
    display:block;
    padding:10px;
    border-bottom:0.3em solid rgba(255,255,255, 0.2);
}
.menuli {
    font-size:1.5em;
    padding:15px 31px;
    border-bottom:0.2em solid rgba(255,255,255, 0.2);
}
nav {
    min-width:280px;
    width:40%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    background:black;
    overflow:auto;
    transition:all 0.2s;
    z-index:100;
}
.invisible{
    left:-100%;
}
ul {
    color:#fff;
    list-style:none;
    position:relative;
    top:0;
    left:0;
    
    }
nav ul li a {
    color:#fff;
    display:block;
    text-decoration:none;
}
.menuli:hover {
    background:rgba(0,0,0, 0.5);
} 

/*  Final menu lateral */


