/*Codigo para marco general */

.body{
    background-color: #FDDD04;
}
.cabecera {
    width: 100%;
    text-align: center;
    background-color:black;
    position:fixed;
    left:0;
    top:0;
    z-index:99;
    color: white;
    

}
.logo{
    width:10%;
    float: left;
    margin:1.5%;
}

.titulo{
    font-size: 1em;
}
    

.cuerpo {
    width: 100%;
 }

/*FIN Codigo para marco general */



/* menu lateral */

 .menuatras, .titulomenu, .menuli, nav, .invisible, ul,nav ul li a{
    font-family:helvetica;
    margin:0;
    padding:0;
}
.menuatras{
    width:30px;
    float:right;
    z-index:90;
}
.titulomenu{
    font-weight: bold;
    font-size:1.5em;
    display:block;
    padding:10px;
    border-bottom:0.3em solid rgba(255,255,255, 0.2);
}
.menuli {
    font-size:1.5em;
    padding:15px 31px;
    border-bottom:0.2em solid rgba(255,255,255, 0.2);
}
nav {
    min-width:280px;
    width:40%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    background:black;
    overflow:auto;
    transition:all 0.2s;
    z-index:100;
}
.invisible{
    left:-100%;
}
ul {
    color:#fff;
    list-style:none;
    position:relative;
    top:0;
    left:0;
    
    }
nav ul li a {
    color:#fff;
    display:block;
    text-decoration:none;
}
.menuli:hover {
    background:rgba(0,0,0, 0.5);
} 

/*  Final menu lateral */


/* Marco de ventana con detalles de la seleecion */


.mapa{
	width: 100%;
	height: 108%;
	z-index: 1;
    background-color: green;
    position: relative;
    
}




/* css para cada punto a ubicar en el mapa*/
.lugares{
    width: 100%;
    height: auto;	
    position: relative;
	background: black;
    transition: fill .3s ease-out;
        transition: 1.5s ease;
        -moz-transition: 1.5s ease; /* Firefox */
        -webkit-transition: 1.5s ease; /* Chrome - Safari */
        -o-transition: 1.5s ease; /* Opera */
        z-index: 98;
}


.lugares:hover{

    transform : scale(2);
        -moz-transform : scale(2); /* Firefox */
        -webkit-transform : scale(2); /* Chrome - Safari */
        -o-transform : scale(2); /* Opera */
        -ms-transform : scale(2); /* IE9 */
        z-index: 99;
}

.lugares img{
    width: 10%;
    height: auto;
    margin-top: -90%;
    margin-left: 50%;
}


/*
.lugareszoom img{
    width: 100%;
    height: auto;
    margin-top: -136%;
    margin-left: 1%;
}




/* css para el div que contiene los detalles de cada lugar */

#detalles{
	 z-index: 2;
     position:relative;
     background-color: #222222;
}

.detallesvisto{ 
	margin-top: -125%;
    z-index: 2;
       
}


.galeria{
	/*width: 100%;*/
	height: 40%;
	/*background-color: red;*/
	z-index: 2;
    position: relative;
}

.galeria img{
    width: 100%;
    position: absolute;

}

.cerrar{
	width: 15%;
	height: 15%;
	z-index: 2;
	position: relative;
}

.audio{
	z-index: 3;
    position: relative;
}

.audio img {
    height: 10%;
    width: 49%;
    background-color: #000000;
}

#play{ 
    float: right;
    }




.texto {
    background-color: #FFF;
    z-index: 2;
}

#contenido{
    font-size: 1em;
}


