.pequeno {
        transition: 1.5s ease;
        -moz-transition: 1.5s ease; /* Firefox */
        -webkit-transition: 1.5s ease; /* Chrome - Safari */
        -o-transition: 1.5s ease; /* Opera */
}

.pequeno:hover {
        transform:scale(2,2);
        -moz-transform : scale(2,2); /* Firefox */
        -webkit-transform : scale(2,2); /* Chrome - Safari */
        -o-transform : scale(2,2); /* Opera */
        -ms-transform : scale(2,2); /* IE9 */
        
}

